@(jobDescription: JobDescription, populatedKsaFormPage: Html)

@main("Edit Job Description") {
    @(recruiterNavbar("Uploaded Job Descriptions"))
    <div class="hero-image jobDescription-image">
        <div class="hero-text">
            <h1 class="display-2 font-weight-normal">Update Job Description Details:</h1>
            <p class="">@jobDescription.getReferenceCode - @jobDescription.getJobTitle</p>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="section-title text-center">
                <h1 class="">Job Details:</h1>
            </div>
        @helper.form(action = routes.JobDescriptionController.submitEditedJobDescription()) {
            <div class="form-group">
                <label for="referenceCode"><strong>Reference Code:</strong></label>
                <input type="text" class="form-control" name="referenceCode" value="@jobDescription.getReferenceCode">
            </div>
            <div class="form-group">
                <label for="jobTitle"><strong>Job Title:</strong></label>
                <input type="text" class="form-control" name="jobTitle" value="@jobDescription.getJobTitle">
            </div>
            <div class="form-group">
                <strong>Created at:</strong>
                <p name="createdAt">@jobDescription.getCreatedAt</p>
            </div>
            <div class="form-group">
                <strong>Last updated at:</strong>
                <p name="lastUpdatedAt">@jobDescription.getLastUpdatedAt</p>
            </div>
            @if(jobDescription.getDuration.isPresent) {
                <div class="form-group">
                    <label for="duration"><strong>Duration:</strong></label>
                    <input type="text" class="form-control" name="duration" value="@jobDescription.getDuration.get()">
                </div>
            } else {
                <div class="form-group">
                    <label for="duration"><strong>Duration:</strong></label>
                    <input type="text" class="form-control" name="duration">
                </div>
            }
            <div class="form-group">
                <label for="location"><strong>Location:</strong></label>
                <input type="text" class="form-control" name="location" value="@jobDescription.getLocation">
            </div>
            <div class="form-group">
                <label for="companyOrOrganisation"><strong>Company/Organisation:</strong></label>
                <input type="text" class="form-control" name="companyOrOrganisation" value="@jobDescription.getCompanyOrOrganisation">
            </div>
            @if(jobDescription.getDepartment.isPresent) {
                <div class="form-group">
                    <label for="department"><strong>Department:</strong></label>
                    <input type="text" class="form-control" name="department" value="@jobDescription.getDepartment.get()">
                </div>
            } else {
                <div class="form-group">
                    <label for="department"><strong>Department:</strong></label>
                    <input type="text" class="form-control" name="department">
                </div>
            }
            @if(jobDescription.getSection.isPresent) {
                <div class="form-group">
                    <label for="section"><strong>Section:</strong></label>
                    <input type="text" class="form-control" name="section" value="@jobDescription.getSection.get()">
                </div>
            } else {
                <div class="form-group">
                    <label for="section"><strong>Section:</strong></label>
                    <input type="text" class="form-control" name="section">
                </div>
            }
            @if(jobDescription.getGrade.isPresent) {
                <div class="form-group">
                    <label for="grade"><strong>Grade:</strong></label>
                    <input type="text" class="form-control" name="grade" value="@jobDescription.getGrade.get()">
                </div>
            } else {
                <div class="form-group">
                    <label for="grade"><strong>Grade:</strong></label>
                    <input type="text" class="form-control" name="grade">
                </div>
            }
            @if(jobDescription.getReportsTo.isPresent) {
                <div class="form-group">
                    <label for="reportsTo"><strong>Reports To:</strong></label>
                    <input type="text" class="form-control" name="reportsTo" value="@jobDescription.getReportsTo.get()">
                </div>
            } else {
                <div class="form-group">
                    <label for="reportsTo"><strong>Reports To:</strong></label>
                    <input type="text" class="form-control" name="reportsTo">
                </div>
            }
            @if(jobDescription.getResponsibleTo.isPresent) {
                <div class="form-group">
                    <label for="responsibleTo"><strong>Responsible To:</strong></label>
                    <input type="text" class="form-control" name="responsibleTo" value="@jobDescription.getResponsibleTo.get()">
                </div>
            } else {
                <div class="form-group">
                    <label for="responsibleTo"><strong>Responsible To:</strong></label>
                    <input type="text" class="form-control" name="responsibleTo">
                </div>
            }
            <div class="form-group">
                <label for="hours"><strong>Hours:</strong></label>
                <input type="text" class="form-control" name="hours" value="@jobDescription.getHours">
            </div>
            <div class="form-group">
                <label for="salary"><strong>Salary:</strong></label>
                <input type="text" class="form-control" name="salary" value="@jobDescription.getSalary">
            </div>
            <div class="form-group">
                <label for="mainPurposeOfJob"><strong>Main Purpose of Job:</strong></label>
                <textarea class="form-control" name="mainPurposeOfJob" rows="10">@jobDescription.getMainPurposeOfJob</textarea>
            </div>
            <div class="form-group">
                <label for="mainResponsibilities"><strong>Main Responsibilities:</strong></label>
                <textarea class="form-control" name="mainResponsibilities" rows="10">@jobDescription.getMainResponsibilities</textarea>
            </div>
            @if(jobDescription.getGeneral.isPresent) {
                <div class="form-group">
                    <label for="general"><strong>General:</strong></label>
                    <textarea class="form-control" name="general" rows="10">@jobDescription.getGeneral.get</textarea>
                </div>
            } else {
                <div class="form-group">
                    <label for="general"><strong>General:</strong></label>
                    <textarea class="form-control" name="general" rows="10"></textarea>
                </div>
            }
        </div>
    </section>
    <section class="light-bg">
    <div class="section-title text-center">
        <h1 class="">Employee Specification:</h1>
    </div>
            @populatedKsaFormPage
        }
    </section>
}