@(referenceCode:String, jobTitle:String, matchingCandidates: List[UserAccountDetails])

@main("Matching Candidates") {
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="display-2 font-weight-normal">Matching Candidates</h1>
            <p class="">@referenceCode - @jobTitle</p>
        </div>
    </section>
    @if(!matchingCandidates.isEmpty) {
        <div class="container">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Candidate Profile</th>
                        <th scope="col">Contact Information</th>
                    </tr>
                </thead>
                <tbody>
                @for(candidate <- matchingCandidates) {
                    <tr>
                        <th>@candidate.getFirstName @candidate.getSurname</th>
                        <td>
                            <a class="btn active btn-primary btn-sm m-0" href="@routes.JobApplicationController.getCandidateKsaProfile(candidate.getFirstName, candidate.getSurname, candidate.getUsername)">View Ksa Profile</a>
                            <a class="btn active btn-primary btn-sm m-0" role="button" href="@routes.HomeController.viewCvForUser(candidate.getUsername, referenceCode)">
                            Download Candidate CV</a>
                        </td>
                        <td>
                            <a class="btn active btn-primary btn-sm m-0" href="@routes.JobApplicationController.viewUserDetails(candidate.getUsername)">Contact Candidate</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    } else {
        <section class="text-center">
            <div class="container">
                <h3>
                    There are currently no candidates which match the requirements you've specified.
                </h3>
                <p class="text-muted">Please check back later.</p>
            </div>
        </section>
    }
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/transformed.js")"></script>
}