@import views.html.recruiter.recruiterNavbar
@(referenceCode:String, jobTitle:String, matchingCandidates: List[UserAccountDetails])

@main("Matching Candidates") {
    @(recruiterNavbar("Uploaded Job Descriptions"))
    <div class="hero-image candidate-image">
        <div class="hero-text">
            <h1 class="display-2 font-weight-normal">Matching Candidates</h1>
            <p class="">@referenceCode - @jobTitle</p>
        </div>
    </div>
    <br/>
    @if(!matchingCandidates.isEmpty) {
        <div class="container">
            <table class="table" id="matchingCandidatesTable">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                @for(candidate <- matchingCandidates) {
                    <tr>
                        <th>@candidate.getFirstName @candidate.getSurname</th>
                        <td>
                            <a class="btn active btn-purple btn-sm m-0" href="@routes.JobDescriptionController.getCandidateKsaProfile(candidate.getFirstName, candidate.getSurname, candidate.getUsername)">View KSA Profile</a>
                        </td>
                        <td>
                            <a class="btn active btn-purple btn-sm m-0" role="button" href="@routes.HomeController.viewCvForUser(candidate.getUsername, referenceCode)">
                                Download Candidate CV</a>
                        </td>
                        <td>
                            <a class="btn active btn-purple btn-sm m-0" href="@routes.JobDescriptionController.viewUserDetails(candidate.getUsername)">Contact Candidate</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <div class="row text-center">
                <a class="btn btn-purple btn-block btn-lg" role="button" href="#" onclick="history.go(-1)">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Return
                </a>
            </div>
        </div>
    } else {
        <section class="text-center">
            <div class="container">
                <h3>
                    There are currently no candidates which match the requirements you've specified.
                </h3>
                <p class="text-muted">Please check back later.</p>
                <div class="row text-center">
                    <a class="btn btn-purple btn-block btn-lg" role="button" href="#" onclick="history.go(-1)">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Return
                    </a>
                </div>
            </div>
        </section>
    }
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/transformed.js")"></script>
}