@(referenceCode:String, jobTitle:String, matchingCandidates: List[UserAccountDetails])

@main("Matching Candidates") {
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-1 text-center">Matching Candidates:</h1>
            <h2 class="display-3 text-center">@referenceCode - @jobTitle</h2>
        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Candidate Profile</th>
                    <th scope="col">Contact Information</th>
                </tr>
            </thead>
            <tbody>
            @for(candidate <- matchingCandidates) {
                <tr>
                    <th>@candidate.getFirstName @candidate.getSurname</th>
                    <td>
                        <a class="btn active btn-primary btn-sm m-0" href="@routes.JobApplicationController.getCandidateKsaProfile(candidate.getFirstName, candidate.getSurname, candidate.getUsername)">View Ksa Profile</a>
                        <a class="btn active btn-primary btn-sm m-0" role="button" href="@routes.HomeController.viewCvForUser(candidate.getUsername, referenceCode)">
                            Download Candidate CV</a>
                    </td>
                    <td>
                        <a class="btn active btn-primary btn-sm m-0" href="@routes.JobApplicationController.viewUserDetails(candidate.getUsername)">Contact Candidate</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/transformed.js")"></script>
}