@import java.util
@(jobDescriptions:List[JobDescription])

@main("Uploaded Job Specifications"){
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="display-2 font-weight-normal">Your Job Specifications</h1>
        </div>
    </section>
    @if(!jobDescriptions.isEmpty) {
        <div class="container">
            <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Reference Number</th>
                        <th scope="col">Job Title</th>
                        <th scope="col">Company/Organisation</th>
                        <th scope="col">Location</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                @for(jobDescription <- jobDescriptions) {
                    <tr>
                        <th>@jobDescription.getReferenceCode</th>
                        <td>@jobDescription.getJobTitle</td>
                        <td>@jobDescription.getCompanyOrOrganisation</td>
                        <td>@jobDescription.getLocation</td>
                        <td>
                            <a class="btn active btn-purple btn-block m-0" href="@routes.JobApplicationController.viewJobDescription(jobDescription.getRecruiter, jobDescription.getReferenceCode)">View Details</a>
                        </td>
                        <td>
                            <a class="btn active btn-purple btn-block m-0" href="@routes.JobApplicationController.editJobDescription(jobDescription.getRecruiter, jobDescription.getReferenceCode)">Edit</a>
                        </td>
                        <td>
                            <a class="btn active btn-purple btn-block m-0" href="@routes.JobApplicationController.deleteJobDescription(jobDescription.getReferenceCode)">Delete</a>
                        </td>
                        <td>
                            <a class="btn active btn-purple btn-block m-0" href="@routes.JobApplicationController.getPotentialCandidates(jobDescription.getRecruiter, jobDescription.getReferenceCode)">View Potential Applicants</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        </div>
    } else {
        <section class="text-center">
            <div class="container">
                <h3>
                    You have not uploaded any job specifications.
                </h3>
                <p class="text-muted">You can upload job specifications <a  href="@routes.JobApplicationController.uploadJobApplication">here.</a></p>
            </div>
        </section>
    }
}