@(userHasKsas: Boolean, currentPage: String)

<nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="navbar-brand" href="@routes.HomeController.index()">CareerSync</a>
            </li>
            @if(currentPage.equals("Home")) {
                <li class="nav-item active">
            } else {
                <li class="nav-item">
            }
                <a class="nav-link" href="@routes.HomeController.index()">Home</a>
            </li>
            @if(userHasKsas) {
                @if(currentPage.equals("KSA Profile")) {
                    <li class="nav-item active">
                } else {
                    <li class="nav-item">
                    }
                <a class="nav-link" href="@routes.KsaFormController.editKsas()" id="ksaProfile">KSA Profile</a>
                </li>
                @if(currentPage.equals("Job Recommendations")) {
                    <li class="nav-item active">
                } else {
                    <li class="nav-item">
                }
                    <a class="nav-link" href="@routes.KsaMatcherController.viewJobRecommendations()" id="jobRecommendations">View Job Recommendations</a>
                </li>
                @if(currentPage.equals("Your Saved Job Recommendations")) {
                    <li class="nav-item active">
                } else {
                    <li class="nav-item">
                }
                <a class="nav-link" href="@routes.JobDescriptionController.getSavedJobDescriptionsForUser()">Saved Job Recommendations</a>
            </li>
            } else {
                @if(currentPage.equals("KSA Profile")) {
                    <li class="nav-item active">
                } else {
                    <li class="nav-item">
                    }
                <a class="nav-link" href="@routes.KsaFormController.loadForm()">KSA Profile</a>
            </li>
            }
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@routes.EditAccountController.editAccount()">
                            Edit Account</a>
                        <a class="dropdown-item" href="@routes.HomeController.logOut()">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>