@(jobDescriptions:List[JobDescription])

@main("Uploaded Job Specifications"){
    <div class="container">
        <h1 class="display-4 text-center pt-5">Your Job Recommendations</h1>
        <div class="row">
            @if(!jobDescriptions.isEmpty) {
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Job Title</th>
                            <th scope="col">Company/Organisation</th>
                            <th scope="col">Location</th>
                            <th scope="col">Salary</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(jobDescription <- jobDescriptions) {
                        <tr>
                            <td>@jobDescription.getJobTitle</td>
                            <td>@jobDescription.getCompanyOrOrganisation</td>
                            <td>@jobDescription.getLocation</td>
                            <td>@jobDescription.getSalary</td>
                            <td>
                                <a class="btn active btn-primary btn-sm m-0" href="@routes.JobApplicationController.viewJobDescription(jobDescription.getRecruiter, jobDescription.getReferenceCode)">View Details</a>
                                <a class="btn active btn-primary btn-sm m-0" href="@routes.JobApplicationController.viewRecruiterDetails(jobDescription.getRecruiter)">Contact Recruiter</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            } else {
                <h3>
                    There are no job descriptions listed which match your knowledge, skills and abilities.
                    <br/>
                    <small class="text-muted">Please check back later.</small>
                </h3>
            }
        </div>
    </div>
}