@import views.html.candidate.candidateNavbar
@(ksaFormContent: Html, userHasKsas: Boolean)

@main("KSA Form") {
@(candidateNavbar(userHasKsas, "KSA Profile"))
    <div class="hero-image ksa-image">
        <div class="hero-text">
            <h1 class="display-1 font-weight-normal" id="yourKsaProfile">Your KSA Profile</h1>
            <p class="">This your personal profile of your knowledge, skills and abilities. Submit any updates you'd like to make by clicking the submit button below.</p>
        </div>
    </div>
        @helper.form(action = routes.KsaFormController.submitForm()){
            @ksaFormContent
            <div class="light-bg">
                <div class="container">
                    <div class="form-group">
                        <button type="submit" class="btn btn-purple btn-lg btn-block active" id="submitButton">Submit</button>
                    </div>
                </div>
            </div>
        }
}