@(ksaFormContent: Html)

@main("KSA Form") {
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="display-2 font-weight-normal">Your KSA Profile</h1>
            <p class="">This your personal profile of your knowledge, skills and abilities. Submit any updates you'd like to make by clicking the submit button below.</p>
        </div>
    </section>
        @helper.form(action = routes.KsaFormController.submitForm()){
            @ksaFormContent
        }
}