@(userAccountDetails: UserAccountDetails)

@main("Ksa Profile") {
    <div class="container">
        <h1 class="display-4 text-center pt-5">Recruiter Details</h1>
        <hr/>
        <div class="row">
            <strong>Recruiter Name:</strong>
            <p name="referenceCode">@userAccountDetails.getFirstName @userAccountDetails.getSurname</p>
        </div>
        <div class="row">
            <strong>Email Address:</strong>
            <p name="referenceCode">@userAccountDetails.getEmailAddress</p>
        </div>
        <div class="row">
            <strong>Contact Number:</strong>
            <p name="referenceCode">@userAccountDetails.getPhoneNumber</p>
        </div>
        <div class="row">
            <a class="btn active btn-primary btn-block" href="mailto:@userAccountDetails.getEmailAddress?subject=Job Enquiry">Send an email</a>
        </div>
    </div>
}