@(name: String, userKsas: UserKsas)

@main("Ksa Profile") {
    <div class="container">
        <h1 class="display-4 text-center">Ksa Profile for @name</h1>
        <hr/>
        <div class="row">
            <strong>Qualification Level:</strong>
            <p name="referenceCode">@userKsas.getQualificationLevel</p>
        </div>
        <div class="row">
            <strong>Qualification Area:</strong>
            <p name="referenceCode">@userKsas.getQualificationArea</p>
        </div>
        <div class="row">
            <strong>Required Communication Skills:</strong>
        </div>
        <ul class="list-group list-group-flush">
        @for(communicationSkill <- userKsas.getCommunicationSkills) {
            <li name="referenceCode">@communicationSkill</li>
        }
        </ul>
        <br/>
        <div class="row">
            <strong>Required People Skills:</strong>
        </div>
        <ul class="list-group list-group-flush">
        @for(peopleSkill <- userKsas.getPeopleSkills) {
            <li name="referenceCode">@peopleSkill</li>
        }
        </ul>
        <br/>
        <div class="row">
            <strong>Required Financial Knowledge and Skills:</strong>
        </div>
        <ul class="list-group list-group-flush">
        @for(financialKnowledge <- userKsas.getFinancialKnowledgeAndSkills) {
            <li name="referenceCode">@financialKnowledge</li>
        }
        </ul>
        <br/>
        <div class="row">
            <strong>Required Communication Skills:</strong>
        </div>
        <ul class="list-group list-group-flush">
        @for(communicationSkill <- userKsas.getCommunicationSkills) {
            <li name="referenceCode">@communicationSkill</li>
        }
        </ul>
        <br/>
        <div class="row">
            <strong>Required Thinking and Analytical Skills:</strong>
        </div>
        <ul class="list-group list-group-flush">
        @for(analyticalSkill <- userKsas.getThinkingAndAnalysis) {
            <li name="referenceCode">@analyticalSkill</li>
        }
        </ul>
        <br/>
        <div class="row">
            <strong>Required Creative/Innovative Skills:</strong>
        </div>
        <ul class="list-group list-group-flush">
        @for(creativeSkill <- userKsas.getCreativeOrInnovative) {
            <li name="referenceCode">@creativeSkill</li>
        }
        </ul>
        <br/>
        <div class="row">
            <strong>Required Administrative/Organisation Skills:</strong>
        </div>
        <ul class="list-group list-group-flush">
        @for(administrativeSkill <- userKsas.getAdministrativeOrOrganisational) {
            <li name="referenceCode">@administrativeSkill</li>
        }
        </ul>
    </div>
}