@(userAccountDetails: UserAccountDetails)

@main("Edit Account") {
    <div class="container">
        <h1>Edit your details below:</h1>
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="usernameInput" value="@userAccountDetails.getUsername">
            </div>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" value="@userAccountDetails.getFirstName">
            </div>
            <div class="form-group">
                <label for="surname">Surname</label>
                <input type="text" class="form-control" id="surname" value="@userAccountDetails.getSurName">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" value="@userAccountDetails.getEmailAddress">
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone number</label>
                <input type="text" class="form-control" id="phoneNumber" value="@userAccountDetails.getPhoneNumber">
            </div>
            <button type="submit" class="btn btn-primary">Update Details</button>
        </form>
    </div>
}