@()

@main("KSA Form") {
    <div class="container">
        <div class="jumbotron">
            <h1>KSA Form</h1>
        </div>
        <form>
            <h1>Skills and Abilities</h1>
            <h2>Communication</h2>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Listening
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                    <label class="form-check-label" for="defaultCheck2">
                        Speaking
                    </label>
                </div>
            </div>
            <h2>Other Section</h2>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Listening
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                    <label class="form-check-label" for="defaultCheck2">
                        Speaking
                    </label>
                </div>
            </div>
            <hr>
            <h1>Knowledge</h1>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Listening
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                    <label class="form-check-label" for="defaultCheck2">
                        Speaking
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block active">Submit</button>
        </form>
    </div>
}