@()

@main("CareerSync - Recruiter Page") {
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="@routes.HomeController.index()">Home<span class="sr-only">(current)</span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@routes.LogInController.logIn()">Log In</a></li>
                    <li><a href="@routes.RegisterController.register()">Register</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="jumbotron">
            <h1>CareerSync - Recruiter Page</h1>
        </div>
        <a class="btn btn-primary btn-lg btn-block active" role="button" href="@routes.HomeController.uploadFile">Upload File</a>
    </div>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/transformed.js")"></script>
}
