@import utilities.SignUpErrors
@(errors: List[SignUpErrors], signUpDetails: Optional[UserSignUpRequest])

@main("Register", false) {
    <div class="sidenav">
        <div class="login-main-text">
            <h2>CareerSync - Register</h2>
            <p>Create an account.</p>
        </div>
    </div>
    <div class="main">
        <div class="col-md-6 col-sm-12">
            <div class="register-form">
            @helper.form(action = routes.RegisterController.registerSubmit()) {
                @if(errors.contains(SignUpErrors.GENERAL_SUBMISSION_ERROR)) {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        @SignUpErrors.GENERAL_SUBMISSION_ERROR.getErrorMessage
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                <div class="form-group">
                    <label for="username">Username:</label>
                    @if(signUpDetails.isPresent) {
                        <input type="text" name="username" value="@signUpDetails.get.getUsername"required>
                    } else {
                        <input type="text" name="username" required/>
                    }
                </div>
                @if(errors.contains(SignUpErrors.USERNAME_TAKEN)) {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        @SignUpErrors.USERNAME_TAKEN.getErrorMessage
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                <div class="form-group">
                    <label for="email">Email:</label>
                    @if(signUpDetails.isPresent) {
                        <input type="email" name="email" value="@signUpDetails.get.getEmail" required/>
                    } else {
                         <input type="email" name="email" required/>
                    }
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" required/>
                    <small id="passwordHelp" class="form-text text-muted">Your password must be at least 6 characters long, contain a number and a special character.</small>
                </div>
                @if(errors.contains(SignUpErrors.PASSWORD_DOES_NOT_CONFORM)) {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        @SignUpErrors.PASSWORD_DOES_NOT_CONFORM.getErrorMessage
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    @if(signUpDetails.isPresent) {
                        <input type="text" name="firstName" value="@signUpDetails.get.getFirstName"required>
                    } else {
                        <input type="text" name="firstName" required>
                    }
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    @if(signUpDetails.isPresent) {
                        <input type="text" name="lastName" value="@signUpDetails.get.getLastName"required>
                    } else {
                        <input type="text" name="lastName" required>
                    }
                </div>
                <div class="form-group">
                    <label for="PhoneNumber">Phone Number:</label>
                    @if(signUpDetails.isPresent) {
                        <input type="text" name="phoneNumber" value="@signUpDetails.get.getPhoneNumber"required>
                    } else {
                        <input type="text" name="phoneNumber" required>
                    }
                </div>
                @if(errors.contains(SignUpErrors.INVALID_PHONE_NUMBER)) {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        @SignUpErrors.INVALID_PHONE_NUMBER.getErrorMessage
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                <div class="form-group">
                    <label for="userType">Type of user:</label>
                    <select class="form-control" name="userType">
                        <option value="recruiter">Recruiter</option>
                        <option value="candidate">Candidate</option>
                    </select>
                </div>
                <input type="submit" class="btn btn-black btn-block" value="Sign Up" />
            }
                <br/>
                <div class="d-flex">
                    Already have have an account? <a href="@routes.LogInController.logIn()" class="ml-2">Log In</a>
                </div>
            </div>
        </div>
    </div>
}