@(jobDescription: JobDescription)
<section class="light-bg">
    <div class="container">
        <div class="section-title text-center">
            <h1 class="">Employee Specification:</h1>
        </div>
        <div class="row">
            <strong>Qualification Level:</strong>
            <p name="referenceCode">@jobDescription.getQualificationLevel</p>
        </div>
        <div class="row">
            <strong>Qualification Area:</strong>
            <p name="referenceCode">@jobDescription.getQualificationArea.get()</p>
        </div>
        @if(!jobDescription.getCommunicationSkills.isEmpty) {
            <div class="row">
                <strong>Required Communication Skills:</strong>
            </div>
            <ul class="list-group list-group-flush">
            @for(communicationSkill <- jobDescription.getCommunicationSkills) {
                <li name="referenceCode">@communicationSkill</li>
            }
            </ul>
            <br/>
        }
        @if(!jobDescription.getPeopleSkills.isEmpty) {
            <div class="row">
                <strong>Required People Skills:</strong>
            </div>
            <ul class="list-group list-group-flush">
            @for(peopleSkill <- jobDescription.getPeopleSkills) {
                <li name="referenceCode">@peopleSkill</li>
            }
            </ul>
            <br/>
        }
        @if(!jobDescription.getFinancialKnowledgeAndSkills.isEmpty) {
            <div class="row">
                <strong>Required Financial Knowledge and Skills:</strong>
            </div>
            <ul class="list-group list-group-flush">
            @for(financialKnowledge <- jobDescription.getFinancialKnowledgeAndSkills) {
                <li name="referenceCode">@financialKnowledge</li>
            }
            </ul>
            <br/>
        }
        @if(!jobDescription.getThinkingAndAnalysis.isEmpty) {
            <div class="row">
                <strong>Required Thinking and Analytical Skills:</strong>
            </div>
            <ul class="list-group list-group-flush">
            @for(analyticalSkill <- jobDescription.getThinkingAndAnalysis) {
                <li name="referenceCode">@analyticalSkill</li>
            }
            </ul>
            <br/>
        }
        @if(!jobDescription.getCreativeOrInnovative.isEmpty) {
            <div class="row">
                <strong>Required Creative/Innovative Skills:</strong>
            </div>
            <ul class="list-group list-group-flush">
            @for(creativeSkill <- jobDescription.getCreativeOrInnovative) {
                <li name="referenceCode">@creativeSkill</li>
            }
            </ul>
            <br/>
        }
        @if(!jobDescription.getAdministrativeOrOrganisational.isEmpty) {
            <div class="row">
                <strong>Required Administrative/Organisation Skills:</strong>
            </div>
            <ul class="list-group list-group-flush">
            @for(administrativeSkill <- jobDescription.getAdministrativeOrOrganisational) {
                <li name="referenceCode">@administrativeSkill</li>
            }
            </ul>
            <br/>
        }
        <div class="row">
            <strong>Candidate Percentage Match Threshold:</strong>
            <p name="percentageMatchThreshold">@jobDescription.getPercentageMatchThreshold%</p>
        </div>
        <section>
            <div class="row text-center">
                <a class="btn btn-purple btn-block btn-lg" role="button" href="#" onclick="history.go(-1)">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Return
                </a>
            </div>
        </section>
    </div>
</section>