@(jobDescription: JobDescription)
<h1 class="display-4 pt-5 text-center">Job Specification Details:</h1>
<div class="row">
    <strong>Reference Code:</strong>
    <p name="referenceCode">@jobDescription.getReferenceCode</p>
</div>
<div class="row">
    <strong>Job Title:</strong>
    <p name="referenceCode">@jobDescription.getJobTitle</p>
</div>
<div class="row">
    <strong>Duration:</strong>
    <p name="referenceCode">@jobDescription.getDuration</p>
</div>
<div class="row">
    <strong>Location:</strong>
    <p name="referenceCode">@jobDescription.getLocation</p>
</div>
<div class="row">
    <strong>Company or Organisation:</strong>
    <p name="referenceCode">@jobDescription.getCompanyOrOrganisation</p>
</div>
<div class="row">
    <strong>Department:</strong>
    <p name="referenceCode">@jobDescription.getDepartment</p>
</div>
<div class="row">
    <strong>Section:</strong>
    <p name="referenceCode">@jobDescription.getSection</p>
</div>
<div class="row">
    <strong>Grade:</strong>
    <p name="referenceCode">@jobDescription.getGrade</p>
</div>
<div class="row">
    <strong>Reports To:</strong>
    <p name="referenceCode">@jobDescription.getReportsTo</p>
</div>
<div class="row">
    <strong>Responsible To:</strong>
    <p name="referenceCode">@jobDescription.getResponsibleTo</p>
</div>
<div class="row">
    <strong>Hours:</strong>
    <p name="referenceCode">@jobDescription.getHours</p>
</div>
<div class="row">
    <strong>Salary:</strong>
    <p name="referenceCode">@jobDescription.getSalary</p>
</div>
<div class="row">
    <strong>Main purpose of job:</strong>
    <p name="referenceCode">@jobDescription.getMainPurposeOfJob</p>
</div>
<div class="row">
    <strong>Main Responsibilities:</strong>
    <p name="referenceCode">@jobDescription.getMainResponsibilities</p>
</div>
<div class="row">
    <strong>General:</strong>
    <p name="referenceCode">@jobDescription.getGeneral</p>
</div>