@import views.html.recruiter.recruiterNavbar
@(jobDescription: JobDescription)
<section>
    <div class="container">
        <div class="section-title text-center">
            <h1 class="">Job Specification:</h1>
        </div>
        <div class="row">
            <strong>Reference Code: </strong>
            <p name="referenceCode">@jobDescription.getReferenceCode</p>
        </div>
        <div class="row">
            <strong>Job Title:</strong>
            <p name="referenceCode">@jobDescription.getJobTitle</p>
        </div>
        <div class="row">
            <strong>Created at:</strong>
            <p name="createdAt">@jobDescription.getCreatedAt</p>
        </div>
        <div class="row">
            <strong>Last updated at:</strong>
            <p name="lastUpdatedAt">@jobDescription.getLastUpdatedAt</p>
        </div>
        @if(jobDescription.getDuration.isPresent) {
            <div class="row">
                <strong>Duration:</strong>
                <p name="referenceCode">@jobDescription.getDuration.get()</p>
            </div>
        }
        <div class="row">
            <strong>Location:</strong>
            <p name="referenceCode">@jobDescription.getLocation</p>
        </div>
        <div class="row">
            <strong>Company or Organisation:</strong>
            <p name="referenceCode">@jobDescription.getCompanyOrOrganisation</p>
        </div>
        @if(jobDescription.getDepartment.isPresent) {
            <div class="row">
                <strong>Department:</strong>
                <p name="referenceCode">@jobDescription.getDepartment.get()</p>
            </div>
        }
        @if(jobDescription.getSection.isPresent) {
            <div class="row">
                <strong>Section:</strong>
                <p name="referenceCode">@jobDescription.getSection.get()</p>
            </div>
        }
        @if(jobDescription.getGrade.isPresent) {
            <div class="row">
                <strong>Grade:</strong>
                <p name="referenceCode">@jobDescription.getGrade.get()</p>
            </div>
        }
        @if(jobDescription.getReportsTo.isPresent) {
            <div class="row">
                <strong>Reports To:</strong>
                <p name="referenceCode">@jobDescription.getReportsTo.get()</p>
            </div>
        }
        @if(jobDescription.getResponsibleTo.isPresent) {
            <div class="row">
                <strong>Responsible To:</strong>
                <p name="referenceCode">@jobDescription.getResponsibleTo.get()</p>
            </div>
        }
        <div class="row">
            <strong>Hours per Week:</strong>
            <p name="referenceCode">@jobDescription.getHours</p>
        </div>
        <div class="row">
            <strong>Annual Salary:</strong>
            <p name="referenceCode">£@jobDescription.getSalary</p>
        </div>
        <div class="row">
            <strong>Main purpose of job:</strong>
            <p name="referenceCode">@jobDescription.getMainPurposeOfJob</p>
        </div>
        <div class="row">
            <strong>Main Responsibilities:</strong>
            <p name="referenceCode">@jobDescription.getMainResponsibilities</p>
        </div>
        @if(jobDescription.getGeneral.isPresent) {
            <div class="row">
                <strong>General:</strong>
                <p name="referenceCode">@jobDescription.getGeneral.get()</p>
            </div>
        }
    </div>
</section>